.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    width: 240px;
    bottom: 50px;
    height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.user-details {
    min-height: 80px;
    padding: 20px;
    position: relative;
}

.user-details .user-info {
     color: #444444;
     margin-left: 60px;
     position: relative;
     z-index: 99999;
 }

.user-details img {
    position: relative;
    z-index: 9999;
}

.user-details .user-info a.dropdown-toggle {
    color: #666666;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

.sidebar-menu {
    background-color: #ffffff;
    padding-bottom: 50px;
    width: 100%;
}

.sidebar-menu, .sidebar-menu ul, .sidebar-menu li, .sidebar-menu a {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.sidebar-menu a{
    line-height: 1.3;
    display: block;
    padding: 15px 25px;
    color: #444444;
}

.sidebar-menu a:hover{
    color: #F5633C;
}

.sidebar-menu .active{
    color: #F5633C;
    font-weight: 600;
}

.sidebar-menu>ul>li>a.active {
    background: #f3f3f3 !important;
}

.sidebar-menu>ul>li>a:hover{
    background-color: #f3f3f3;
    position: relative;
}

.sidebar>.sidebar-menu>ul>li>a{
    color: #444444;
}

.sidebar>.sidebar-menu > ul > li > a > i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

.sidebar>.sidebar-menu > ul > li > a > span {
    vertical-align: middle;
}

.sidebar-menu ul ul a {
    display: block;
    padding: 10px 25px 10px 65px;
}

.sidebar-menu ul ul i{
    margin-right: 10px;
}


.sidebar-menu ul ul ul a {
    display: block;
    padding: 10px 25px 10px 85px;
}