<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edo.zscb.mapper.AssetVehicleMapper" >
  <resultMap id="BaseResultMap" type="com.edo.zscb.model.po.AssetVehicle" >
    <id column="VehicleID" property="vehicleID" jdbcType="INTEGER" />
    <result column="IdentityID" property="identityID" jdbcType="INTEGER" />
    <result column="Maker" property="maker" jdbcType="VARCHAR" />
    <result column="IsShanghai" property="isShanghai" jdbcType="BIT" />
    <result column="Status" property="status" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
    <result column="IsDelete" property="isDelete" jdbcType="BIT" />
    <result column="Version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    VehicleID, IdentityID, Maker, IsShanghai, Status, Remarks, UpdateTime, UpdateUserID, 
    CreateTime, CreateUserID, IsDelete, Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from credit_asset_vehicle
    where VehicleID = #{vehicleID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from credit_asset_vehicle
    where VehicleID = #{vehicleID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edo.zscb.model.po.AssetVehicle" >
    insert into credit_asset_vehicle (VehicleID, IdentityID, Maker, 
      IsShanghai, Status, Remarks, 
      UpdateTime, UpdateUserID, CreateTime, 
      CreateUserID, IsDelete, Version
      )
    values (#{vehicleID,jdbcType=INTEGER}, #{identityID,jdbcType=INTEGER}, #{maker,jdbcType=VARCHAR}, 
      #{isShanghai,jdbcType=BIT}, #{status,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserID,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserID,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edo.zscb.model.po.AssetVehicle" >
    insert into credit_asset_vehicle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vehicleID != null" >
        VehicleID,
      </if>
      <if test="identityID != null" >
        IdentityID,
      </if>
      <if test="maker != null" >
        Maker,
      </if>
      <if test="isShanghai != null" >
        IsShanghai,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="updateUserID != null" >
        UpdateUserID,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="createUserID != null" >
        CreateUserID,
      </if>
      <if test="isDelete != null" >
        IsDelete,
      </if>
      <if test="version != null" >
        Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vehicleID != null" >
        #{vehicleID,jdbcType=INTEGER},
      </if>
      <if test="identityID != null" >
        #{identityID,jdbcType=INTEGER},
      </if>
      <if test="maker != null" >
        #{maker,jdbcType=VARCHAR},
      </if>
      <if test="isShanghai != null" >
        #{isShanghai,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserID != null" >
        #{updateUserID,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null" >
        #{createUserID,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edo.zscb.model.po.AssetVehicle" >
    update credit_asset_vehicle
    <set >
      <if test="identityID != null" >
        IdentityID = #{identityID,jdbcType=INTEGER},
      </if>
      <if test="maker != null" >
        Maker = #{maker,jdbcType=VARCHAR},
      </if>
      <if test="isShanghai != null" >
        IsShanghai = #{isShanghai,jdbcType=BIT},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserID != null" >
        UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CreateTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserID != null" >
        CreateUserID = #{createUserID,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        IsDelete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where VehicleID = #{vehicleID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edo.zscb.model.po.AssetVehicle" >
    update credit_asset_vehicle
    set IdentityID = #{identityID,jdbcType=INTEGER},
      Maker = #{maker,jdbcType=VARCHAR},
      IsShanghai = #{isShanghai,jdbcType=BIT},
      Status = #{status,jdbcType=VARCHAR},
      Remarks = #{remarks,jdbcType=VARCHAR},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      UpdateUserID = #{updateUserID,jdbcType=INTEGER},
      CreateTime = #{createTime,jdbcType=TIMESTAMP},
      CreateUserID = #{createUserID,jdbcType=INTEGER},
      IsDelete = #{isDelete,jdbcType=BIT},
      Version = #{version,jdbcType=INTEGER}
    where VehicleID = #{vehicleID,jdbcType=INTEGER}
  </update>
</mapper>