<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edo.zscb.mapper.AssetVehicleMapper">
	<resultMap id="BaseResultMap" type="com.edo.zscb.model.po.AssetVehicle">
		<id column="VehicleID" property="vehicleID" jdbcType="INTEGER" />
		<result column="IDNumber" property="idNumber" jdbcType="VARCHAR" />
		<result column="License" property="license" jdbcType="VARCHAR" />
		<result column="Maker" property="maker" jdbcType="VARCHAR" />
		<result column="IsShanghai" property="isShanghai" jdbcType="BIT" />
		<result column="Status" property="status" jdbcType="VARCHAR" />
		<result column="DataSource" property="dataSource" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="BIT" />
		<result column="Version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		V.VehicleID, V.IDNumber, V.License, V.Maker, V.IsShanghai, V.Status, V.DataSource,
		V.Remarks, V.UpdateTime, V.UpdateUserID,
		V.CreateTime,
		V.CreateUserID, V.IsDelete, V.Version
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from credit_asset_vehicle
		where VehicleID = #{vehicleID,jdbcType=INTEGER}
	</select>

	<!-- 通过身份ID获得车辆资产列表 -->
	<select id="selectVehicleList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_asset_vehicle V
		where V.IsDelete = 0 and V.IDNumber = #{idNumber,jdbcType=VARCHAR} and 
		V.DataSource = #{dataSource,jdbcType=VARCHAR}
	</select>

	<!-- 通过身份ID和车辆License获取车辆资产对象 -->
	<select id="selectAssetVehicle" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_asset_vehicle V
		where V.IsDelete = 0 and V.IDNumber = #{idNumber,jdbcType=VARCHAR}
		and V.License = #{license,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from credit_asset_vehicle
		where VehicleID = #{vehicleID,jdbcType=INTEGER}
	</delete>

	<!-- 插入车辆资产对象 -->
	<insert id="insert" parameterType="com.edo.zscb.model.po.AssetVehicle">
		insert into credit_asset_vehicle
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="idNumber != null">
				IDNumber,
			</if>
			<if test="license != null">
				License,
			</if>
			<if test="maker != null">
				Maker,
			</if>
			<if test="isShanghai != null">
				IsShanghai,
			</if>
			<if test="status != null">
				Status,
			</if>
			<if test="dataSource != null">
				DataSource,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="idNumber != null">
				#{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="license != null">
				#{license,jdbcType=VARCHAR},
			</if>
			<if test="maker != null">
				#{maker,jdbcType=VARCHAR},
			</if>
			<if test="isShanghai != null">
				#{isShanghai,jdbcType=BIT},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="dataSource != null">
				#{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 更新车辆资产信息 -->
	<update id="updateByPrimaryKey" parameterType="com.edo.zscb.model.po.AssetVehicle">
		update credit_asset_vehicle
		<set>
			<if test="idNumber != null">
				IDNumber = #{idNumber,jdbcType=INTEGER},
			</if>
			<if test="license != null">
				License = #{license,jdbcType=INTEGER},
			</if>
			<if test="maker != null">
				Maker = #{maker,jdbcType=VARCHAR},
			</if>
			<if test="isShanghai != null">
				IsShanghai = #{isShanghai,jdbcType=BIT},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="dataSource != null">
				DataSource = #{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			Version = Version + 1,
		</set>
		where VehicleID = #{vehicleID,jdbcType=INTEGER}
	</update>
</mapper>