<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edo.zscb.mapper.IdentityMapper">
	<resultMap id="BaseResultMap" type="com.edo.zscb.model.po.Identity">
		<id column="IdentityID" property="identityID" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="IDNumber" property="IDNumber" jdbcType="VARCHAR" />
		<result column="Mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="BankNumber" property="bankNumber" jdbcType="VARCHAR" />
		<result column="HouseNumber" property="houseNumber" jdbcType="VARCHAR" />
		<result column="HouseAddress" property="houseAddress" jdbcType="VARCHAR" />
		<result column="HouseArea" property="houseArea" jdbcType="VARCHAR" />
		<result column="HouseOwnerUserName" property="houseOwnerUserName" jdbcType="VARCHAR" />
		<result column="HouseOwnerIDNumber" property="houseOwnerIDNumber" jdbcType="VARCHAR" />
		<result column="IsMatch" property="isMatch" jdbcType="BIT" />
		<result column="IsMain" property="isMain" jdbcType="BIT" />		
		<result column="MateID" property="mateID" jdbcType="INTEGER" />
		<result column="DataSource" property="dataSource" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="BIT" />
		<result column="Version" property="version" jdbcType="INTEGER" />
		<association select="selectMate" column="mateID" property="mate" javaType="com.edo.zscb.model.po.Identity"></association>
		<association select="selectCreateUser" column="createUserID" property="createUser" javaType="com.iidooo.core.model.po.SecurityUser"></association>
	</resultMap>
	<sql id="Base_Column_List">
		I.IdentityID, I.Name, I.IDNumber, I.Mobile, I.BankNumber, I.HouseNumber, I.HouseAddress,
		I.HouseArea, I.HouseOwnerUserName,
		I.HouseOwnerIDNumber,
		I.IsMatch, I.IsMain, I.MateID, I.DataSource, I.Remarks,
		I.UpdateTime, I.UpdateUserID,
		I.CreateTime, I.CreateUserID,
		I.IsDelete, I.Version
	</sql>

	<select id="selectCreateUser" parameterType="java.lang.Integer" resultType="com.iidooo.core.model.po.SecurityUser">
		select
		U.UserID, U.LoginID, '' as password, U.UserName, U.Mobile,
		U.Email, U.Sex, U.Birthday, U.WeixinID, U.PhotoURL,
		U.IsSilent, U.IsDisable, U.UserType, U.Level, U.Points, U.Experience, U.Remarks, U.UpdateTime,
		U.UpdateUserID,
		U.CreateTime, U.CreateUserID, U.IsDelete, U.Version
		from security_user U where UserID = #{createUserID,jdbcType=INTEGER}
	</select>

	<!-- 通过IdentityID获得身份信息 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from credit_identity I
		where I.IsDelete = 0 and I.IdentityID = #{identityID,jdbcType=INTEGER}
	</select>

	<!-- 通过身份证号查询获得Identity对象 -->
	<select id="selectByIDNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from credit_identity I
		where I.IsDelete = 0 and I.IDNumber = #{idNumber,jdbcType=VARCHAR} and
		I.DataSource = #{dataSource, jdbcType=VARCHAR}
	</select>

	<!-- 查询配偶信息 -->
	<select id="selectMate" resultType="com.edo.zscb.model.po.Identity" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from credit_identity I
		where I.IsDelete = 0 and I.IdentityID = #{mateID,jdbcType=INTEGER}
	</select>

	<!-- 查询符合条件的借款人身份信息数量 -->
	<select id="selectCountForSearch" resultType="java.lang.Integer" parameterType="com.edo.zscb.model.vo.SearchCondition">
		select
		count(I.IdentityID)
		from credit_identity I
		where I.IsDelete = 0
		<if test="name != null and name != ''">
			and I.Name like "%${name}%"
		</if>
		<if test="idNumber != null and idNumber != ''">
			and I.IDNumber like "%${idNumber}%"
		</if>
		and I.IsMain = 1
		and I.DataSource = #{dataSource, jdbcType=VARCHAR}
	</select>

	<!-- 查询符合条件的借款人身份信息 -->
	<select id="selectForSearch" resultMap="BaseResultMap" parameterType="com.edo.zscb.model.vo.SearchCondition">
		select
		<include refid="Base_Column_List" />
		from credit_identity I
		where I.IsDelete = 0
		<if test="name != null and name != ''">
			and I.Name like "%${name}%"
		</if>
		<if test="idNumber != null and idNumber != ''">
			and I.IDNumber like "%${idNumber}%"
		</if>
		and I.DataSource = #{dataSource, jdbcType=VARCHAR}
		and I.IsMain = 1
		<if test="page != null">
			order by ${page.sortField} ${page.sortType}
			limit ${page.start}, ${page.pageSize}
		</if>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from credit_identity
		where IdentityID = #{identityID,jdbcType=INTEGER}
	</delete>

	<!-- 插入Identity对象 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="identityID" parameterType="com.edo.zscb.model.po.Identity">
		insert into credit_identity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="identityID != null">
				IdentityID,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="IDNumber != null">
				IDNumber,
			</if>
			<if test="mobile != null">
				Mobile,
			</if>
			<if test="bankNumber != null">
				BankNumber,
			</if>
			<if test="houseNumber != null">
				HouseNumber,
			</if>
			<if test="houseAddress != null">
				HouseAddress,
			</if>
			<if test="houseArea != null">
				HouseArea,
			</if>
			<if test="houseOwnerUserName != null">
				HouseOwnerUserName,
			</if>
			<if test="houseOwnerIDNumber != null">
				HouseOwnerIDNumber,
			</if>
			<if test="isMatch != null">
				IsMatch,
			</if>
			<if test="isMain != null">
				IsMain,
			</if>
			<if test="mateID != null">
				MateID,
			</if>
			<if test="dataSource != null">
				DataSource,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="IDNumber != null">
				#{IDNumber,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="bankNumber != null">
				#{bankNumber,jdbcType=VARCHAR},
			</if>
			<if test="houseNumber != null">
				#{houseNumber,jdbcType=VARCHAR},
			</if>
			<if test="houseAddress != null">
				#{houseAddress,jdbcType=VARCHAR},
			</if>
			<if test="houseArea != null">
				#{houseArea,jdbcType=VARCHAR},
			</if>
			<if test="houseOwnerUserName != null">
				#{houseOwnerUserName,jdbcType=VARCHAR},
			</if>
			<if test="houseOwnerIDNumber != null">
				#{houseOwnerIDNumber,jdbcType=VARCHAR},
			</if>
			<if test="isMatch != null">
				#{isMatch,jdbcType=BIT},
			</if>
			<if test="isMain != null">
				#{isMain,jdbcType=BIT},
			</if>
			<if test="mateID != null">
				#{mateID,jdbcType=INTEGER},
			</if>
			<if test="dataSource != null">
				#{dataSource,jdbcType=INTEGER},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 更新身份对象 -->
	<update id="updateByPrimaryKey" parameterType="com.edo.zscb.model.po.Identity">
		update credit_identity
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="IDNumber != null">
				IDNumber = #{IDNumber,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				Mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="bankNumber != null">
				BankNumber = #{bankNumber,jdbcType=VARCHAR},
			</if>
			<if test="houseNumber != null">
				HouseNumber = #{houseNumber,jdbcType=VARCHAR},
			</if>
			<if test="houseAddress != null">
				HouseAddress = #{houseAddress,jdbcType=VARCHAR},
			</if>
			<if test="houseArea != null">
				HouseArea = #{houseArea,jdbcType=VARCHAR},
			</if>
			<if test="houseOwnerUserName != null">
				HouseOwnerUserName = #{houseOwnerUserName,jdbcType=VARCHAR},
			</if>
			<if test="houseOwnerIDNumber != null">
				HouseOwnerIDNumber = #{houseOwnerIDNumber,jdbcType=VARCHAR},
			</if>
			<if test="isMatch != null">
				IsMatch = #{isMatch,jdbcType=BIT},
			</if>
			<if test="isMain != null">
				IsMain = #{isMain,jdbcType=BIT},
			</if>
			<if test="mateID != null">
				MateID = #{mateID,jdbcType=INTEGER},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			Version = Version + 1,
		</set>
		where IdentityID = #{identityID,jdbcType=INTEGER}
	</update>
</mapper>