<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edo.zscb.mapper.RegisterMapper">
	<resultMap id="BaseResultMap" type="com.edo.zscb.model.po.Register">
		<id column="RegisterID" property="registerID" jdbcType="INTEGER" />
		<result column="IDNumber" property="idNumber" jdbcType="VARCHAR" />
		<result column="MarryStatus" property="marryStatus" jdbcType="VARCHAR" />
		<result column="RegisterAddress" property="registerAddress" jdbcType="VARCHAR" />
		<result column="RootAddress" property="rootAddress" jdbcType="VARCHAR" />
		<result column="BornAddress" property="bornAddress" jdbcType="VARCHAR" />
		<result column="UsedName" property="usedName" jdbcType="VARCHAR" />
		<result column="ParentID" property="parentID" jdbcType="INTEGER" />
		<result column="DataSource" property="dataSource" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="BIT" />
		<result column="Version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		R.RegisterID, R.IDNumber, R.MarryStatus, R.RegisterAddress, R.RootAddress, R.BornAddress, R.UsedName,
		R.ParentID, R.DataSource, R.Remarks,
		R.UpdateTime, R.UpdateUserID, R.CreateTime, R.CreateUserID, R.IsDelete,
		R.Version
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from credit_register
		where RegisterID = #{registerID,jdbcType=INTEGER}
	</select>

	<!-- 通过身份ID获取注册户籍信息 -->
	<select id="selectByIDNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from credit_register R
		where R.IsDelete = 0 and R.IDNumber = #{idNumber,jdbcType=VARCHAR}
	</select>
	
	<!-- 获取同住人信息 -->
	<select id="selectRegisterMate" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_register R
		where R.IsDelete = 0 and R.ParentID = #{parentID,jdbcType=INTEGER} and 
		R.UserName = #{name,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from credit_register
		where RegisterID = #{registerID,jdbcType=INTEGER}
	</delete>

	<!-- 插入一个户籍信息 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="registerID" parameterType="com.edo.zscb.model.po.Register">
		insert into credit_register
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="idNumber != null">
				IDNumber,
			</if>
			<if test="marryStatus != null">
				MarryStatus,
			</if>
			<if test="registerAddress != null">
				RegisterAddress,
			</if>
			<if test="rootAddress != null">
				RootAddress,
			</if>
			<if test="bornAddress != null">
				BornAddress,
			</if>
			<if test="usedName != null">
				UsedName,
			</if>
			<if test="parentID != null">
				ParentID,
			</if>
			<if test="dataSource != null">
				DataSource,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="idNumber != null">
				#{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="marryStatus != null">
				#{marryStatus,jdbcType=VARCHAR},
			</if>
			<if test="registerAddress != null">
				#{registerAddress,jdbcType=VARCHAR},
			</if>
			<if test="rootAddress != null">
				#{rootAddress,jdbcType=VARCHAR},
			</if>
			<if test="bornAddress != null">
				#{bornAddress,jdbcType=VARCHAR},
			</if>
			<if test="usedName != null">
				#{usedName,jdbcType=VARCHAR},
			</if>
			<if test="parentID != null">
				#{parentID,jdbcType=INTEGER},
			</if>
			<if test="dataSource != null">
				#{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 更新户籍信息 -->
	<update id="updateByPrimaryKey" parameterType="com.edo.zscb.model.po.Register">
		update credit_register
		<set>
			<if test="idNumber != null">
				IDNumber = #{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="marryStatus != null">
				MarryStatus = #{marryStatus,jdbcType=VARCHAR},
			</if>
			<if test="registerAddress != null">
				RegisterAddress = #{registerAddress,jdbcType=VARCHAR},
			</if>
			<if test="rootAddress != null">
				RootAddress = #{rootAddress,jdbcType=VARCHAR},
			</if>
			<if test="bornAddress != null">
				BornAddress = #{bornAddress,jdbcType=VARCHAR},
			</if>
			<if test="usedName != null">
				UsedName = #{usedName,jdbcType=VARCHAR},
			</if>
			<if test="parentID != null">
				ParentID = #{parentID,jdbcType=INTEGER},
			</if>
			<if test="dataSource != null">
				DataSource = #{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			Version = Version + 1,
		</set>
		where RegisterID = #{registerID,jdbcType=INTEGER}
	</update>
</mapper>