<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edo.zscb.mapper.StaffExpMapper">
	<resultMap id="BaseResultMap" type="com.edo.zscb.model.po.StaffExp">
		<id column="ExpID" property="expID" jdbcType="INTEGER" />
		<result column="IDNumber" property="idNumber" jdbcType="VARCHAR" />
		<result column="EnterDate" property="enterDate" jdbcType="VARCHAR" />
		<result column="LeaveDate" property="leaveDate" jdbcType="VARCHAR" />
		<result column="Company" property="company" jdbcType="VARCHAR" />
		<result column="DataSource" property="dataSource" jdbcType="VARCHAR" />
		<result column="Remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UpdateUserID" property="updateUserID" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CreateUserID" property="createUserID" jdbcType="INTEGER" />
		<result column="IsDelete" property="isDelete" jdbcType="BIT" />
		<result column="Version" property="version" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		S.ExpID, S.IDNumber, S.EnterDate, S.LeaveDate, S.Company, S.DataSource, S.Remarks, S.UpdateTime, S.UpdateUserID,
		S.CreateTime,
		S.CreateUserID, S.IsDelete, S.Version
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from credit_staff_exp
		where ExpID = #{expID,jdbcType=INTEGER}
	</select>

	<!-- 通过身份证号获得工作经历一览 -->
	<select id="selectStaffExpList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_staff_exp S
		where S.IsDelete = 0 and S.IDNumber = #{idNumber,jdbcType=VARCHAR} and 
		S.DataSource = #{dataSource,jdbcType=VARCHAR}
	</select>
	
	<!-- 通过身份证号获得工作经历 -->
	<select id="selectStaffExp" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from credit_staff_exp S
		where S.IsDelete = 0 and S.IDNumber = #{idNumber,jdbcType=VARCHAR} and 
		S.EnterDate = #{enterDate,jdbcType=VARCHAR}	
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from credit_staff_exp
		where ExpID = #{expID,jdbcType=INTEGER}
	</delete>

	<!-- 插入工作经历 -->
	<insert id="insert" parameterType="com.edo.zscb.model.po.StaffExp">
		insert into credit_staff_exp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="idNumber != null">
				IDNumber,
			</if>
			<if test="enterDate != null">
				EnterDate,
			</if>
			<if test="leaveDate != null">
				LeaveDate,
			</if>
			<if test="company != null">
				Company,
			</if>
			<if test="dataSource != null">
				DataSource,
			</if>
			<if test="remarks != null">
				Remarks,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="createUserID != null">
				CreateUserID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="idNumber != null">
				#{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="enterDate != null">
				#{enterDate,jdbcType=VARCHAR},
			</if>
			<if test="leaveDate != null">
				#{leaveDate,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=VARCHAR},
			</if>
			<if test="dataSource != null">
				#{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserID != null">
				#{createUserID,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 更新工作经历 -->
	<update id="updateByPrimaryKey" parameterType="com.edo.zscb.model.po.StaffExp">
		update credit_staff_exp
		<set>
			<if test="idNumber != null">
				IDNumber = #{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="enterDate != null">
				EnterDate = #{enterDate,jdbcType=VARCHAR},
			</if>
			<if test="leaveDate != null">
				LeaveDate = #{leaveDate,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				Company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="dataSource != null">
				DataSource = #{dataSource,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				Remarks = #{remarks,jdbcType=VARCHAR},
			</if>
			<if test="updateUserID != null">
				UpdateUserID = #{updateUserID,jdbcType=INTEGER},
			</if>
			Version = Version + 1,
		</set>
		where ExpID = #{expID,jdbcType=INTEGER}
	</update>
</mapper>